
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply bg-primary text-white leading-loose;
    font-family: var(--font-jetbrains-mono);
  }

  .no-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .h1 {
    @apply text-[40px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

